# =========================>
# ## APP
# =========================>
APP_NAME=Elysia-Light
APP_PORT=4000
APP_CORS_ORIGINS=
APP_CORS_METHODS=
APP_CORS_HEADERS=


# =========================>
# ## DATABASE (OLTP)
# =========================>
DB_CONNECTION=pg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=db_elysia_light


# =========================>
# ## DATABASE (OLAP)
# =========================>
DA_HOST=
DA_PORT=
DA_USERNAME=
DA_PASSWORD=
DA_DATABASE=


# =========================>
# ## REDIS
# =========================>
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=


# =========================>
# ## CRONJOB
# =========================>
CRON_INTERVAL=


# =========================>
# ## SOCKET
# =========================>
SOCKET_PORT=
SOCKET_CORS_ORIGINS=
SOCKET_KEY=


# =========================>
# ## LOGGER
# =========================>
ACCESS_LOG_DRIVER=
ACCESS_LOG_DIR=
ACCESS_LOG_TABLE=
ACCESS_LOG_QUEUE=
ACCESS_LOG_CONCURRENCY=
ACCESS_LOG_FLUSH=

ERROR_LOG_DRIVER=
ERROR_LOG_DIR=
ERROR_LOG_TABLE=
ERROR_LOG_QUEUE=
ERROR_LOG_CONCURRENCY=
ERROR_LOG_FLUSH=

ACTIVITY_LOG_DRIVER=
ACTIVITY_LOG_DB_TABLE=
ACTIVITY_LOG_DA_TABLE=
ACTIVITY_LOG_QUEUE=
ACTIVITY_LOG_CONCURRENCY=


# =========================>
# ## MAIL
# =========================>
MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=